.form-row {
    padding: 10px 0;
    display: flex;
}
.form-row label {
    padding-right: 10px;
}
.form-row input {
    flex: 1;
}
.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 440px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}
.main-column {
    flex: 3;
}
.sidebar-one {
    flex: 1;
}
.sidebar-two {
    flex: 1;
    order: 1;
}
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    display: flex;
}
.call-out {
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    margin-right: 40px;
    width: 30%;
    box-sizing: border-box;
}
.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}
.fixed-size-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: #FFF;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fixed-size {
    width: 150px;
    height: 100px;
    background-color: #990b47;
    color:#FFF;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}